/node_modules
/public/hot
/public/storage
/storage/*.key
/public/assets/images
/public/assets/foto_produk
/public/assets/foto_pelapak
/public/assets/foto_profil_konsumen
/public/assets/konfirmasi
/public/assets/foto_bukti_tf
/public/assets/foto_review
!/vendor/
/vendor/*
!/vendor/munafio/
composer.lock
.idea
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
